{% extends 'food/base.html' %}

{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <img height="400px" width="600px" src="{{ item.item_image }}" alt="">
        </div>
        <div class="col-md-6">
            <h1>{{ item.item_name }}</h1>
            <p>{{ item.item_description }}</p>
            <h4>Price: {{ item.item_price }}</h4>
            <a class="btn btn-outline-danger" href="{% url 'food:delete_item' item.id %}">Delete</a>
        </div>
    </div>
</div>

{% endblock %}
