{% extends 'food/base.html' %}

{% block body %}
    <h1>This is Just a template</h1>
    <h5>Item List</h5>
    {% for item in item_list %}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card" height="150px" width="300px" src="{{ item.item_image }}" alt="">
            </div>
            <div class="col-md-4">
                <h3><a href="{% url 'food:details' item.id %}">{{ item.item_name }}</a></h3>
                <p>{{ item.item_description }}</p>
                <p>Price: {{ item.item_price }}</p>
            </div>
            <div class="col-md-2">
                <a class="btn btn-outline-warning" href="{% url 'food:details' item.id %}">View Details</a>
            </div>
        </div>
  
    {% endfor %}

{% endblock %}
   

 